.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.font{
  font-family: 'Pattaya';
}

.font2{
  font-family: 'Playfair Display SC';
}

.map{
  height: '100vh';
   width: '100%';
}

.size{
  font-size: 16px;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('./image/1.png');
    height: 100vh;
}
.w3-white{
  color: aliceblue;
}
#myNavbar{
  color: #fff;
}
/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("https://scontent.fbkk1-3.fna.fbcdn.net/v/t1.15752-9/31961549_1694143427299872_4857525234871304192_n.png?_nc_fx=fbkk1-5&_nc_cat=0&oh=bbfeb106aacdd4786786c9100b30c6c1&oe=5B85F8EC");
    min-height: 400px;
}

.line{
  border-left: 6px solid white;
  height: 50px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("https://www.ikea.com/ie/en/images/rooms/ikea-clean-and-bright-outside-and-in__1364400688587-s5.jpg");
    min-height: 400px;
}

/* Fourth image (Contact) */
.bgimg-4 {
  background-image: url("https://scontent.fbkk2-4.fna.fbcdn.net/v/t1.15752-9/33601741_1709809942399887_6624257270416932864_n.png?_nc_cat=0&oh=1bfb4070756b0e0f3ef9cb9e199855ed&oe=5B947A7B");
  height: 100vh;
}

/* Fifth image (Contact) */
.bgimg-5 {
  background-image: url("https://scontent.fbkk1-5.fna.fbcdn.net/v/t1.15752-9/33422679_1710864812294400_3140202679192518656_n.png?_nc_fx=fbkk1-5&_nc_cat=0&_nc_eui2=AeEmYsgiFgDAisJIFXpGm8NpErED7WqaXsngl8Gcu0EG10bWg08gIH_pxsU2MUa9pl1mvrPNfQd48JcSCMRsJ9kQokEgBGIcIkem5EXz5LLKqg&oh=b114769c6a431ae6d25904603693beb0&oe=5B804212");
  height: 100vh;
}

/* sixth image (Contact) */
.bgimg-6 {
  background-image: url("https://scontent.fbkk1-6.fna.fbcdn.net/v/t1.15752-9/33304129_1709804302400451_4422803110620037120_n.png?_nc_fx=fbkk1-5&_nc_cat=0&_nc_eui2=AeHznklGTnzQBLeGBfmpOCBfRLGNiDqZf8AKNEDQGHNKBOCpagCMXi4Dw226WSHRLRlMPLGScoI4bZfTV52qIbKh0h7SjOPkDnEV6n6wf33hag&oh=91f30652fae7fedf9d50b4d4363b21da&oe=5B934369");
  height: 100vh;
}

/* seventh image (Contact) */
.bgimg-7 {
  background-image: url("https://scontent.fbkk1-3.fna.fbcdn.net/v/t1.15752-9/33475112_1709804289067119_8875450840878415872_n.png?_nc_fx=fbkk1-5&_nc_cat=0&_nc_eui2=AeEB9VAS3iKd3TpT8_VMprOfKLe8JibO8P_UdVxX_opKjVzx3udCZa_ftpZ1xF8LbRRliVLwvBYUXvmDUuk5szHASto5G8wDaXJyNYVF33iaJw&oh=2e1358e80f14aae04e61098e0bb84a76&oe=5B78E5DB");
  height: 100vh;
}

a.w3-bar-item.w3-button{
  font-size: 25px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
        background-attachment: scroll;
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* pattaya-regular - latin_thai */
@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: url('./font/pattaya-v2-latin_thai-regular.eot'); /* IE9 Compat Modes */
  src: local('Pattaya'), local('Pattaya-Regular'),
       url('./font/pattaya-v2-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/pattaya-v2-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/pattaya-v2-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/pattaya-v2-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/pattaya-v2-latin_thai-regular.svg#Pattaya') format('svg'); /* Legacy iOS */
}

/* playfair-display-sc-regular - latin */
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: url('./font/playfair-display-sc-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
       url('./font/playfair-display-sc-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/playfair-display-sc-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/playfair-display-sc-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/playfair-display-sc-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/playfair-display-sc-v7-latin-regular.svg#PlayfairDisplaySC') format('svg'); /* Legacy iOS */
}

